.padre-flex{
    background-color: yellow;
    padding: 10px;
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-grow: 500px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.padre-flex .caja{
    background-color: greenyellow;
    margin: 5px;
    border: 4px;
    border-style: solid;
    border-color: black;
    color: slateblue;
    font-size: 25px;
    width: 200px;
}
img{
    width: 180px;
    height: 140px;
}


*{margin: 10px;}
.padre-grid{
    background-color: rgb(40, 245, 177);
    padding: 10px;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
.padre-grid .a{
    background-color: rgb(103, 131, 27);
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}
.padre-grid .b{
    background-color: rgb(153, 238, 55);
    grid-column: 1/2;
    grid-row: 2/3;
}
.padre-grid .c{
    background-color: rgb(153, 238, 55);
    grid-column: 2/3;
    grid-row: 2/3;
}
.padre-grid .d{
    background-color: rgb(153, 238, 55);
    grid-column: 3/4;
    grid-row: 2/3;
}
.padre-grid .e{
    background-color: rgb(20, 83, 34);
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
}



